services:
  app:
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_HTTP_PORTS: "8080"
      # Połączenie administracyjne do serwera (master) — tylko dla Provisioningu
      Admin__SqlServer: "Server=db,1433;Database=master;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True"
      # Połączenie do bazy centralnej (utworzy się automatycznie przez migracje)
      ConnectionStrings__CentralDb: "Server=db,1433;Database=CentralDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True"
      # Klucz do szyfrowania connection stringów tenantów (AES)
      Crypto__Key: "J0BQomj4ichywU/Lm2FlG4CMzVqHclmxydZOz2KQBDI="
    ports:
      - "8060:8080"

  db:
    environment:
      MSSQL_SA_PASSWORD: YourStrong!Passw0rd
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P YourStrong!Passw0rd -C -Q 'SELECT 1' || exit 1"]
      interval: 10s
      retries: 10
      start_period: 10s
      timeout: 3s