services:
  app:
    image: ${DOCKER_REGISTRY-}app
    build:
      context: .
      dockerfile: app/Dockerfile
    depends_on:
      - db
  db:
    image: mcr.microsoft.com/mssql/server:2022-CU20-ubuntu-22.04
    restart: always
    environment:
      - ACCEPT_EULA=Y
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data: