services:
  app:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    ports:
      - "8080"
  db:
    environment:
      MSSQL_SA_PASSWORD: Strong!Passw0rd
    ports:
      - "1433:1433"