@{
    ViewData["Title"] = "Brak dostępu";
}

<h2>@ViewData["Title"]</h2>
<p class="">
    Nie masz uprawnień, aby zobaczyć tę stronę.
</p>

<a asp-controller="Account" asp-action="Login" class="">Powrót do logowania</a>
