@using NuGet.Configuration
@{
    ViewData["Title"] = "Ustawienia";

    string? parishUid = ViewData["ParishUid"] as string;
}

@functions {
    private class SettingsOption {
        public string Name { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public string? Controller { get; set; } = null;
        public string Action { get; set; } = string.Empty;
        public Dictionary<string, string> RouteData { get; set; } = new Dictionary<string, string>();
        public string Icon { get; set; } = string.Empty;
    }
}

@{
    var settingsItems = new List<SettingsOption> {
        new SettingsOption() {
            Name = "Ustawienia systemowe",
            Description = "Zaktualizuj różne ustawienia ogólnosystemowe.",
            Action = "General",
            Icon = "gear-fill",
        },
        new SettingsOption() {
            Name = "Użytkownicy",
            Description = "Zarządzaj użytkownikami twojej parafii. Dodawaj i usuwaj członków, a także edytuj ich dane i przypisuj im role.",
            Action = "Users",
            Icon = "person-lines-fill",
        },
        new SettingsOption() {
            Name = "Adresy",
            Description = "Zarządzaj adresacją w twojej parafii - dodawaj ulice i bramy, edytuj je i usuwaj.",
            Action = "Streets",
            Icon = "building-fill-gear",
        },
        new SettingsOption() {
            Name = "Formularz zgłoszeniowy",
            Description = "Przejdź do publicznego formularza zgłoszeniowego.",
            Controller = "PublicForm",
            Action = "New",
            RouteData = new Dictionary<string, string> {
                { "parishUid", parishUid ?? string.Empty }
            },
            Icon = "input-cursor-text",
        },
    };
}

<div class="overflow-x-auto h-full">
    <div class="min-h-full flex flex-col items-center justify-start min-w-1/2 max-w-full md:max-w-5/6 lg:max-w-4/5 px-10 gap-2.5 mx-auto">
        @foreach (SettingsOption option in settingsItems) {
            <a asp-action="@option.Action" asp-controller="@(option.Controller ?? "Settings")" asp-all-route-data="option.RouteData"
                class="flex flex-col md:flex-row justify-start items-center gap-6 p-10 bg-base-300 hover:bg-base-200 transition-colors w-full">
                <i class="bi bi-@option.Icon text-7xl text-center font-bold opacity-80"></i>
                <div class="flex-1 flex flex-col gap-1 text-center md:text-left">
                    <h2 class="text-xl font-semibold">
                        @option.Name                
                    </h2>
                    <h4 class="text-md opacity-70">
                        @option.Description
                    </h4>
                </div>
                <i class="bi bi-caret-right-fill text-3xl text-end opacity-70"></i>
            </a>
        }
    </div>
</div>