@using Microsoft.IdentityModel.Tokens
@using SOK.Application.Common.Helpers
@using SOK.Domain.Entities.Parish;
@using SOK.Domain.Enums
@using SOK.Infrastructure.Extensions
@using System.Globalization
@{
    ViewData["Title"] = "Użytkownicy";
}

@{
    var users = ViewData["UserDtos"] as IEnumerable<SOK.Application.Common.DTO.UserDto>;
}

<div class="overflow-x-auto h-full">
    @if (users.IsNullOrEmpty())
    {
        <div class="min-h-full flex flex-col items-center justify-center">
            <h2 class="text-center text-xl font-semibold">
                Brak użytkowników w systemie.
            </h2>
            <h4 class="text-center text-lg opacity-70">
                To zasadnicze nieporozumienie, bo jesteś tu przynajmniej Ty. Pilnie skontaktuj się z administratorem.
            </h4>
        </div>
    }
    else
    {
        <div class="min-h-full w-full flex flex-col items-center justify-start">
            <div class="flex flex-col items-center justify-center opacity-80 mb-3">
                <h3 class="text-center text-lg font-semibold">
                    Przeglądaj użytkowników
                </h3>
                <h4 class="text-center text-md opacity-70">
                    Poniżej wyświetlają się członkowie Twojej parafii. Możesz wejść w użytkownika, aby edytować jego dane i zresetować hasło.
                </h4>
                
                <a asp-action="CreateUser" class="btn btn-primary mt-4">
                    <i class="bi bi-plus"></i>
                    Nowe konto
                </a>
            </div>

            <div class="divider self-auto w-5/6"></div>

            <ul class="list w-2/3">
                @foreach (var (user, index) in users!.WithIndex()) 
                {
                    <li class="list-row">
                        <div>
                            <h5 class="text-3xl font-light font-noto-sans opacity-40">
                                @(index+1)
                            </h5>
                        </div>
                        <div class="flex items-center gap-3">
                            <h3 class="text-lg font-semibold font-nunito-sans">
                                @user.DisplayName
                            </h3>
                            @foreach (Role role in user.Roles) 
                            {
                                <span class="badge badge-accent badge-sm">@role.ToString()</span>
                            }
                        </div>
                        <a asp-action="EditUser" asp-route-id="@user.CentralId" class="btn btn-neutral btn-soft text-base-content">
                            <i class="bi bi-pencil-square"></i> Edytuj
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>