@{
    ViewData["Title"] = "Błąd formularza zgłoszeniowego";
    Layout = "_LayoutPublic";
}

<div class="w-full max-w-2xl text-center">
    <!-- Ikona błędu -->
    <div class="mb-8 text-4xl text-error">
        <i class="bi bi-exclamation-triangle"></i>
    </div>

    <!-- Komunikat -->
    <div class="bg-base-200 rounded-lg p-8 shadow-md">
        <h1 class="text-4xl font-bold font-nunito-sans mb-4 text-error">Błąd formularza zgłoszeniowego</h1>
        <p class="text-xl mb-6">Twoja parafia w tej chwili nie przyjmuje zgłoszeń. Jeśli myślisz, że to błąd, skontaktuj się z administratorem.</p>
        <p class="text-sm opacity-50">Identyfikator błędu: <i>4918201</i></p>
    </div>
</div>
