/* Classes used in other files but not detected by Tailwind's scanner 
    Application.Common.Helpers.RolesExtensions */
.text-white {}
.bg-red-500  {}
.border-red-500 {}
.bg-purple-500  {}
.border-purple-500 {}
.bg-blue-500  {}
.border-blue-500 {}
.bg-green-500  {}
.border-green-500 {}
.bg-gray-400  {}
.border-gray-400 {}
.bg-gray-300  {}
.border-gray-300 {}