@import "tailwindcss";
@source "./wwwroot/**/*.js,./Views/**/*.cshtml";
@plugin "daisyui";

@theme {
    --color-primary: var(--color-sky-600);
    --color-secondary: var(--color-amber-500);
    --color-neutral: var(--color-gray-400);
    --color-success: var(--color-green-500);
    --color-info: var(--color-sky-400);
    --color-warning: var(--color-yellow-500);
    --color-error: var(--color-rose-600);
}

@theme {
    --font-nunito-sans: "Nunito Sans", ui-sans-serif, system-ui;
    --font-noto-sans: "Noto Sans", ui-sans-serif, system-ui;
    --font-outfit: "Outfit", ui-sans-serif, system-ui;
}

body {
    @apply font-outfit;
}

@layer utilities {
    .navbar {
        @apply py-1;
        min-height: 2rem;
    }

    .btn {
        --btn-border: var(--btn-bg);
        @apply shadow-none;
    }

    .collapse-arrow > .collapse-title {
        @apply after:top-1/2;
    }
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
}

body {
    margin-bottom: 60px;
}

.collapse-title.p-0::after {
    top: 0;
}