@import "tailwindcss";
@plugin "daisyui";


:root {
    --color-primary: var(--color-sky-600);
    --color-secondary: var(--color-amber-500);
    --color-neutral: var(--color-gray-400);
    --color-success: var(--color-green-500);
    --color-info: var(--color-sky-400);
    --color-warning: var(--color-yellow-500);
    --color-error: var(--color-rose-600);
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
}

body {
    height: 100%;
}

body {
  margin-bottom: 60px;
}