<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const urlTheme = urlParams.get("theme");
        const theme = urlTheme || localStorage.theme || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        document.documentElement.setAttribute("data-theme", theme);
        if (urlTheme) {
            localStorage.theme = urlTheme;
        }
    </script>
</head>
<body class="max-h-screen overflow-hidden">
    <header class="fixed top-0 left-0 z-10 w-full">
        <partial name="_Header" />
    </header>

    <div class="absolute top-10 left-1/2 z-[1000] w-[90vw] -translate-x-1/2 transform lg:w-md xl:w-lg" id="notification-container">
        <partial name="_Notification" />
    </div>
    
    <div class="flex h-full w-full justify-items-center overflow-y-hidden has-[main]:has-[.card.bg-base-100]:bg-base-200">
        <div id="sidebar" class="bg-base-300 z-20 flex w-14 flex-col gap-2 px-2 py-2 transition-[width]">
            <partial name="_Sidebar" />
        </div>

        <main role="main" class="container mx-auto min-h-full overflow-y-scroll px-2.5 pt-16 pb-16">
            @RenderBody()
        </main>
    </div>

    <footer class="footer footer-center bg-base-300 text-base-content fixed bottom-0 left-0 z-10 p-4 sm:footer-horizontal">
        <aside>
            <p>Copyright © 2025 - All right reserved by SOK</p>
        </aside>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bundle.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
